body
  background-color: $bgcolor-01
  font-family: Gill Sans,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif
  font-size: 16px
  line-height: 1.8
  font-weight: normal
  color: $gray
  @media screen and (max-width: #{$break-point})
    font-size: 14px

img
  max-width: 100%
  height: auto

.contener
  margin: 0 auto
  width: 1200px


header
  margin: 0 auto
  text-align: center

.header__image
  margin-top: 30px
  margin-bottom: 10px

.header__title
  margin: 0
  text-align: center
  font-size: 30px
  color: $keycolor-01
  line-height: 34px

.header__white
  margin: 0
  text-align: center
  font-size: 14px
  color: $keycolor-01

nav
  text-align: center
  margin-bottom: 40px

.nav__lists
  font-size: 24px
  color: $textcolor

.nav__lists li
  +inline-block
  &:after
    content: " |"
  &:last-child
    &:after
      content: none

.nav__link
  color: $textcolor
  text-decoration: underline

.aside
  margin-top: 40px

.aside__contents
  margin: 0 auto
  +clearfix

.aside__menu
  +inline-block
  +float-left
  width: 33%
