body
  background-color: $bgcolor-01
  font-family: Gill Sans,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif
  font-size: 16px
  line-height: 1.8
  font-weight: normal
  color: $gray
  @media screen and (max-width: #{$break-point})
    font-size: 14px

img
  max-width: 100%
  height: auto


.blog__header
  margin: 0 auto
  text-align: center

img.blog__header--image
  margin-top: 30px
  margin-bottom: 10px

.blog__header--link
  color: $textcolor
  text-decolation: underline

h1.blog__header--title
  margin: 0
  text-align: center
  font-size: 30px
  color: $keycolor-01
  line-height: 34px

h2.blog__header--white
  margin: 0
  text-align: center
  font-size: 14px
  color: $keycolor-01

h2.blog__title
h2.blog__title a
  text-decoration: none
  color: $keycolor-01

ul
  font-size: 24px
  color: $textcolor

li
  display: inline-block
